:root {
    background-image: url(../../../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.bold {
    font-family: "Barlow Condensed", serif;
    font-weight: bold;
    color: FFFFFF;
}
.transparent {
    color: rgba(255, 255, 255, 0.25)
}
.destinationContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: end; */
    height: 100vh;
    padding: 0rem 7.5rem;
    /* text-transform: uppercase; */
}
.destinationTitle {
    display: flex;
    gap: 1em;
    color: white;
    font-family: "Bellefair", serif;
    font-weight: 100;
    font-size: 1.5em;
}
.destinationHero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px white solid; */
}
.moonPic {
    height: 70%;
    padding: 1em;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 445px;
    /* border: 1px white solid; */
    align-self: center;
    justify-self: end;
}
.dNav {
    display: flex;
    gap: 1.5em;
    font-family: "Barlow Condensed", serif;
    padding-bottom: 2em;

}
.btn.dNav-btn {
    padding-bottom: 1em;
    box-sizing: border-box;
    border-bottom: 1px transparent solid;
}
.dNav-btn:hover {
    box-sizing: border-box;
    border-bottom: 1px white solid;
}