:root {
    background-image: url(../../../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.bold {
    font-family: "Barlow Condensed", serif;
    font-weight: bold;
    color: FFFFFF;
}
.transparent {
    color: rgba(255, 255, 255, 0.25)
}
.destinationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 5.5rem 1rem;
}
.destinationTitle {
    padding-left: 6.5rem;
    display: flex;
    gap: 1em;
    color: white;
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-size: 28pxem;
}
.destinationHero {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 2rem;
    /* border: 1px white solid; */
}
.moonPic {
    height: 70%;
    padding: 1em;
}
.cardContainer {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 445px;
    border: 1px white solid;
    align-self: flex-end;
}
.dNav {
    font-size: 1.2em;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
    gap: 1.8em;
    font-family: "Barlow Condensed", serif;
    padding-bottom: 1.2em;

}
.btn.dNav-btn {
    width: auto;
    padding-bottom: 0.5em;
    box-sizing: border-box;
    border-bottom: 2px transparent solid;
}
.dNav-btn:hover {
    box-sizing: border-box;
    border-bottom: 2px white solid;
}