@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Barlow+Condensed:wght@400;700&family=Bellefair:wght@400;700&display=swap');
* {
  margin: 0%;
  padding: 0%;
};
html {
  text-transform: uppercase;
}